{% extends "./base.html" %}

{% load static %}

{% block title %} AGUARDE Y SERÁ ATENDIDO POR UN REPRESENTANTE E-COMMERCE!!! {% endblock %}

{% block contenido_que_cambia %}


<h2>{{ mensaje }}</h2>

<!-- Contactos-->
<section class="Contactos text-center bg-light">
    <div class="container">
        <div>
            <div>
 
        <h1 class="mb-5"> AGUARDE Y SERÁ ATENDIDO POR UN REPRESENTANTE!!!</h1>
        <div class="row">
            <div class="col-lg-7">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'imagenes/Soporte.png' %}" alt="..." />              

                    <h4>                    ESTAMOS PARA AYUDARTE!           
                    <h4>Atención al Cliente (0800-444-8484) Disponible de Lun a Vie de 9 a 18hs.</h4> 
                    <h4>        clientes@superonline.com.ar </h4> 
                    <h4>                AGUARDE Y SERÁ ATENDIDO POR UN REPRESENTANTE            </h4>
                    
                    
                </div>
            </div>
        </div>
                    
    </div>
</section>



{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

