{% extends "./inicio_1.html" %}

{% load static %}

{% block title %} Bienvenidos a la página de inicio! {% endblock %}

{% block contenido_que_cambia %}


<h2>{{ mensaje }}</h2>

<!-- Nuestra Empresa-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <div>
            <div>
 
        <h1 class="mb-5"> Nuestra empresa ... es E-Commerce!!!</h1>
        <div class="row">
            <div class="col-lg-7">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'imagenes/cliente_feliz.jpg' %}" alt="..." />              

                    <h4>~ Javier Caramella Boubet ~</h4>
                    <p class="font-weight-light mb-0">"Ingeniero en Telecomunicaciones"</p>
                    <p class="font-weight-light mb-0">"Scrum Master/Product Owner"</p>
                    <p class="font-weight-light mb-0">"Esta App esta pensada para lograr satisfacer las necesidades de nuestros clientes, entregando los productos en sus domicilios el día y horario conveniente"</p>
                    
                </div>
            </div>
        </div>
                    
    </div>
</section>


<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <div>
            <div>
 
        <h1 class="mb-5">Qué dicen las personas que usaron la App...</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'imagenes/testimonials-1.jpg' %}" alt="..." />              

                    <h5>~Lucia Llamas~</h5>
                    <p class="font-weight-light mb-0">"Esta App es Fantástica!!! Muchas gracias!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'imagenes/testimonials-2.jpg' %}" alt="..." />
                    <h5>~Fred Smith~</h5>
                    <p class="font-weight-light mb-0">"Ahorre bastante dinero gracias a esta App..."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'imagenes/testimonials-3.jpg' %}" alt="..." />
                    <h5>~Susana Dora~</h5>
                    <p class="font-weight-light mb-0">"El servicio de entrega a domicilio es lo mejor!!!"</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>


{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
